{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Registration</title>
	</head>
	<body>
		<div id="registration_box">
			<form method="post" action="{% url "registration_view" %}">
				{% csrf_token %}
				<table>
					<div>
						<tr><label for="email">email</label></tr>
						<tr><input id="email" name="email" type="text" class="form-input"></input></tr>
					</div>
					<div>
						<tr><label for="username">Username</label></tr>
						<tr><input id="username" name="username" type="text" class="form-input"></input></tr>
					</div>
					<div>
						<tr><label for="password">Password</label></tr>
						<tr><input id="password" name="password" type="text" class="form-input"></input></tr>
					</div>
					<div>
						<tr><label for="retype_password">Retype Password</label></tr>
						<tr><input id="retype_password" name="retype_password" type="text" class="form-input"></input></tr>
					</div>
					<div>
						<input type="submit" value="login">
						<input type="hidden" name="next" value="{{ next }}">
					</div>
				</table>
			</form>
		</div>
	</body>
</html>